body{
    
    text-align:center;
    font-family: monospace;
    background-color: darkgrey;
}


#container{
    border-style: solid;
    border-color: grey;
    padding:0px;
    width:80%;
    margin-left:10%;
    background-color: white;
}

#title{
    font-size: 45px;
}

#cabecera{
    
    padding: 0px;
    background-color: darkblue;

    color: blue;

    font-size: 25px;
}

#footer{
    background-color:darkblue;
    color:whitesmoke;
    font-size:15px;
    padding-top:10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 6px 7px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 7px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 6px 7px 15px 0px rgba(0,0,0,0.5);
}