body{
    
    text-align:center;
    font-family: monospace;
}


#container{
    border-style: solid;
    border-color: grey;
    padding:0px;
    width:80%;
    margin-left:10%;
}

#title{
    font-size: 45px;
}

#cabecera{
    
    padding: 0px;
    background-color: darkblue;

    color: blue;

    font-size: 25px;
}